In [1]:
import numpy as np
import pandas as pd

In [2]:
filepath = r"C:\Users\admin\Documents\LetsUpgrade\Notes\Day 24\general_data.csv"
data = pd.read_csv(filepath)

In [3]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
data.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [5]:
data['NumCompaniesWorked'].mean()

2.6948303347756775

In [6]:
data["TotalWorkingYears"].mean()

11.279936378095888

In [7]:
new_com_worked = np.where(data['NumCompaniesWorked'].isnull(),3,data['NumCompaniesWorked'])
new_total_working_years = np.where(data['TotalWorkingYears'].isnull(),11,data['TotalWorkingYears'])

In [8]:
data['NumCompaniesWorked'] = new_com_worked
data["TotalWorkingYears"] = new_total_working_years

In [9]:
data.isnull().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

In [10]:
from sklearn import preprocessing

In [11]:
label_encoder = preprocessing.LabelEncoder()

In [12]:
encoded_attrition = label_encoder.fit_transform(data['Attrition'])

In [13]:
from sklearn.ensemble import RandomForestClassifier

In [14]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [15]:
rf_model = RandomForestClassifier(n_estimators = 1000,max_features = 2,oob_score = True)

In [16]:
features = ['Age','DistanceFromHome','Education','MonthlyIncome', 'NumCompaniesWorked', 'PercentSalaryHike','TotalWorkingYears',
            'TrainingTimesLastYear', 'YearsAtCompany','YearsSinceLastPromotion', 'YearsWithCurrManager']

In [17]:
rf_model.fit(X=data[features],y=encoded_attrition)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features=2, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=None,
            oob_score=True, random_state=None, verbose=0, warm_start=False)

In [18]:
rf_model.oob_score_

0.999546485260771

In [19]:
for feature,imp in zip(features,rf_model.feature_importances_):
    print(feature,imp)

Age 0.13745324419470037
DistanceFromHome 0.10785078275795111
Education 0.058378456054398294
MonthlyIncome 0.15599025328483884
NumCompaniesWorked 0.07369204916444488
PercentSalaryHike 0.09649809662564125
TotalWorkingYears 0.10914858743485006
TrainingTimesLastYear 0.06357593691251154
YearsAtCompany 0.08079530248811852
YearsSinceLastPromotion 0.05332032723201922
YearsWithCurrManager 0.06329696385052593

In [20]:
from sklearn import tree

In [21]:
tree_model = tree.DecisionTreeClassifier(max_depth = 8)

In [22]:
predictors = pd.DataFrame([data['MonthlyIncome'],data['Age'],data['TotalWorkingYears']]).T

In [23]:
tree_model.fit(X = predictors,y=data['Attrition'])

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=8,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [24]:
print(tree_model.score(X = predictors,y = data['Attrition']))

0.8841269841269841

In [25]:
with open('DTree_Attrition-3var.dot','w') as f:
    f = tree.export_graphviz(tree_model,feature_names = ['MonthlyIncome','Age','TotalWorkingYears'],out_file=f)

In [26]:
Y = data.loc[:,'Attrition']
Y

0        No
1       Yes
2        No
3        No
4        No
5        No
6       Yes
7        No
8        No
9        No
10       No
11       No
12       No
13      Yes
14       No
15       No
16       No
17       No
18       No
19       No
20       No
21       No
22       No
23       No
24       No
25       No
26       No
27       No
28      Yes
29       No
       ...
4380     No
4381    Yes
4382     No
4383     No
4384     No
4385     No
4386    Yes
4387     No
4388    Yes
4389     No
4390     No
4391    Yes
4392     No
4393     No
4394     No
4395     No
4396     No
4397     No
4398     No
4399     No
4400     No
4401     No
4402    Yes
4403     No
4404     No
4405     No
4406     No
4407     No
4408     No
4409     No
Name: Attrition, Length: 4410, dtype: object

In [27]:
X = data[features]
X

,Age,DistanceFromHome,Education,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,6,2,131160,1.0,11,1.0,6,1,0,0
1,31,10,1,41890,0.0,23,6.0,3,5,1,4
2,32,17,4,193280,1.0,15,5.0,2,5,0,3
3,38,2,5,83210,3.0,11,13.0,5,8,7,5
4,32,10,1,23420,4.0,12,9.0,2,6,0,4
5,46,8,3,40710,3.0,13,28.0,5,7,7,7
6,28,11,2,58130,2.0,20,5.0,2,0,0,0
7,29,18,3,31430,2.0,22,10.0,2,0,0,0
8,31,1,3,20440,0.0,21,10.0,2,9,7,8
9,25,7,4,134640,1.0,13,6.0,2,6,1,5
10,45,17,2,79910,0.0,13,21.0,2,20,4,10
11,36,28,1,33770,0.0,12,16.0,2,15,10,11
12,55,14,4,55380,0.0,17,37.0,2,36,4,13
13,47,1,1,57620,1.0,11,10.0,4,10,9,9
14,28,1,3,25920,1.0,14,5.0,2,5,0,4
15,37,1,3,53460,4.0,11,7.0,2,5,0,1
16,21,3,2,42130,1.0,12,3.0,3,3,1,0
17,37,1,3,41270,2.0,13,15.0,2,5,0,2
18,35,7,4,24380,7.0,16,10.0,5,7,6,2
19,38,8,3,68700,1.0,11,8.0,5,8,7,7
20,26,1,4,104470,1.0,18,6.0,3,6,1,4
21,50,8,4,96670,3.0,23,28.0,2,10,1,6
22,53,11,4,21480,3.0,11,21.0,2,5,1,3
23,42,4,4,89260,1.0,14,11.0,4,20,11,6
24,29,16,4,65130,1.0,11,10.0,2,10,0,9
25,55,1,4,67990,3.0,11,12.0,2,10,0,8
26,26,9,3,162910,1.0,22,5.0,3,5,3,3
27,37,5,1,27050,1.0,11,17.0,2,17,5,7
28,44,1,2,103330,3.0,14,19.0,2,1,0,0
29,38,2,3,44480,9.0,12,10.0,3,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...
4380,35,19,3,21450,1.0,13,10.0,6,10,0,8
4381,29,7,1,21800,1.0,21,4.0,2,4,0,1
4382,52,1,2,83460,7.0,14,6.0,5,2,2,2
4383,42,7,4,34450,1.0,11,22.0,2,22,11,15
4384,59,4,4,27600,8.0,11,7.0,3,2,2,2
4385,50,11,2,62940,3.0,23,32.0,2,7,0,6
4386,33,11,4,71400,5.0,21,8.0,2,5,0,4
4387,43,1,3,29320,5.0,24,22.0,3,17,1,9
4388,33,1,3,51470,7.0,11,13.0,2,9,1,7
4389,52,2,3,45070,1.0,14,33.0,3,33,15,12
4390,32,13,4,85640,2.0,16,6.0,2,4,1,2
4391,32,23,1,24680,0.0,11,4.0,2,3,1,2
4392,39,26,4,81610,7.0,12,7.0,2,3,1,2
4393,32,2,4,21090,0.0,13,4.0,3,3,2,2
4394,41,29,3,52940,2.0,15,17.0,3,1,0,0
4395,40,2,3,27180,3.0,14,9.0,4,9,4,7
4396,45,18,1,58110,0.0,14,25.0,4,24,1,7
4397,31,7,4,24370,9.0,14,9.0,3,2,2,2
4398,33,2,4,27660,1.0,12,2.0,2,2,0,2
4399,34,26,3,190380,6.0,13,13.0,3,11,5,9
4400,37,22,5,30550,2.0,14,17.0,3,3,0,2
4401,45,21,1,22890,4.0,13,9.0,3,3,0,2
4402,37,2,3,40010,6.0,11,17.0,2,1,0,0
4403,39,22,3,129650,0.0,19,20.0,2,19,11,8
4404,29,4,3,35390,1.0,18,6.0,2,6,1,5
4405,42,5,4,60290,3.0,17,10.0,5,3,0,2
4406,29,2,4,26790,2.0,15,10.0,2,3,0,2
4407,25,25,2,37020,0.0,20,5.0,4,4,1,2
4408,42,18,2,23980,0.0,14,10.0,2,9,7,8
4409,40,28,3,54680,0.0,12,11.0,6,21,3,9

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size = 0.2,random_state = 2)

In [29]:
data.shape

(4410, 24)

In [30]:
X_train.shape

(3528, 11)

In [31]:
X_test.shape

(882, 11)

In [32]:
y_train.shape,y_test.shape

((3528,), (882,))

In [33]:
test_features = pd.DataFrame([X_test['MonthlyIncome'],X_test['Age'],X_test['TotalWorkingYears']]).T

In [34]:
test_predict = tree_model.predict(X = test_features)

In [35]:
Predicted_output = pd.DataFrame({'Emp ID':X_test.index,'Attrition':test_predict})

In [36]:
Predicted_output.to_csv('Output_Attrition.csv',index = False)

In [37]:
Predicted_output['Attrition'].value_counts()

No     830
Yes     52
Name: Attrition, dtype: int64

In [38]:
y_test.value_counts()

No     739
Yes    143
Name: Attrition, dtype: int64